<?xml version="1.0" encoding="UTF-8"?>
<gpx xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.1"
     creator="GPX RubyGem 1.1.1 -- http://dougfales.github.io/gpx/"
     xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd"
     xmlns="http://www.topografix.com/GPX/1/1">
  <metadata>
    <name><%= gpx_name %></name>
    <bound minlat="90.0" minlon="180.0" maxlat="-90.0" maxlon="-180.0"/>
  </metadata>
  <% waypoints.each do |waypoint| %>
  <wpt lat="<%= waypoint[:latitude] %>" lon="<%= waypoint[:longitude] %>">
    <name><%= waypoint[:name] %></name>
    <sym>Waypoint</sym>
  </wpt>
  <% end %>
</gpx>
